body {
	margin: 0;
	padding: 5px;
	cell-spacing: 0;
	border-spacing: 0;
}
table,tr,td {
	margin: 0;
	padding: 0;
	cell-spacing: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 24px;
}
.block_td {
	width: 18px;
	height: 18px;
	border-collapse: collapse;
}
.mark_td {
	width: 7px;
	height: 7px;
	border-collapse: collapse;
}
.pixel_table_w {
	margin: 0 0 0 0;
	padding: 0;
	cell-spacing: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	min-width: 2000px;
}
.pixel_table_h {
	margin: 0 0 0 0;
	padding: 0;
	cell-spacing: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.index_body {
	margin-left: 30px;
}
.index_td {
	font-size: 24px;
	width: 200px;
	padding: 10px 10px 10px 0px;
}
.paper_td {
	width: 40px;
	height: 35px;
	border: 1px solid #000000;
	border-collapse: collapse;
	text-align: center;
}
.row_td {
	width: 40px;
	height: 35px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 0;
	border-collapse: collapse;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.col_td {
	width: 40px;
	height: 30px;
	border-top: 0;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-collapse: collapse;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.corner_td {
	width: 40px;
	height: 30px;
	border-top: 0;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 0;
	border-collapse: collapse;
	text-align: center;
}

.parts_table {
	margin: 0 0 0 0;
	padding: 0;
	cell-spacing: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.parts_row_td {
	width: 63px;
	height: 36px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-collapse: collapse;
	text-align: center;
	font-style: italic;
}
.parts_col_td {
	background: #fadc9b;
	width: 63px;
	height: 20px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-collapse: collapse;
	text-align: center;
}
.title {
	margin: 2px 0 3px 0;
	font-size: 24px;
}
.paper_table {
	margin: 0 0 50px 0px;
	padding: 0;
	cell-spacing: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.td_done {
	border: 1px solid #ff0000;
}
.td_light {
	border: 1px solid #ffffff;
}
.parts_done {
	border: 2px solid #ff0000;
}
.ui-tooltip .ui-tooltip-inner1 {
	width: 80px;
	font-size: 18px;
	display: block;
	position: absolute;
	padding: 0px 0px;
	margin-top: -45px;
	margin-left: 0px;
	color: #fff;
	text-align: left;
	background-color: #000;
	border-radius: 4px;
	z-index: 1
}
.ui-tooltip-inner2 {
	width: 80px;
	font-size: 18px;
	display: block;
	position: absolute;
	padding: 0px 0px;
	margin-top: -70px;
	margin-left: 0px;
	color: #fff;
	text-align: left;
	background-color: #000;
	border-radius: 4px;
	z-index: 1
}
.ui-tooltip-inner3 {
	width: 40px;
	font-size: 18px;
	display: block;
	position: absolute;
	padding: 3px 8px;
	margin-top: -61px;
	margin-left: 0px;
	color: #fff;
	text-align: left;
	background-color: #000;
	border-radius: 4px;
	z-index: 1
}
.action_table {
	margin: 5px 0 5px 0px;
}
.action_td_blank {
	width: 0;
}
.action_td {
	padding:0 1px 0 2px;
}
.ui-button {
	display: inline-block;
	margin-bottom: 1px;
	padding: 0 10px;
	height: 42px;
	line-height: 36px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-image: none;
	border: 1px solid transparent;
	cursor: pointer;
	outline: 0;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color .3s ease-out,border-color .3s ease-out;
	border-radius: 3px;box-shadow:0 2px 4px rgba(0,0,0,0.1);
	background-color: #2db7f5;
	border-color: #2db7f5;
	color: #fff
}
.index_button {
	margin: 0;
}
.ui-button-bg {
	font-size: 20px;
}
.ui-button-lg {
	font-size: 50px;
	width: 70px;
}
.ui-button-sm {
	font-size: 40px;
	width: 100px;
	height: 28px;
	line-height: 28px;
}
.parts-action {
	margin-top: -30px;
	float: right;
}
.img_td {
	width: 150px;
}
.block_001 {background:#eacdae}
.block_002 {background:#e4cc9e}
.block_003 {background:#fadc9b}
.block_004 {background:#c79f66}
.block_005 {background:#e1b9a6}
.block_006 {background:#edb39e}
.block_007 {background:#f4cfbc}
.block_008 {background:#e9c5b7}
.block_009 {background:#edac82}
.block_010 {background:#fdc596}
.block_011 {background:#f5a992}
.block_012 {background:#e5bcb0}
.block_013 {background:#ba5343}
.block_014 {background:#a8374c}
.block_015 {background:#e52842}
.block_016 {background:#ffba5f}
.block_017 {background:#f8af33}
.block_018 {background:#f27d58}
.block_019 {background:#fd7b39}
.block_020 {background:#feb736}
.block_021 {background:#ffa325}
.block_022 {background:#fb723a}
.block_023 {background:#fc5a28}
.block_024 {background:#e41c1e}
.block_025 {background:#f96154}
.block_026 {background:#fea15f}
.block_027 {background:#fe781f}
.block_028 {background:#fdd68b}
.block_029 {background:#fce86c}
.block_030 {background:#fee35e}
.block_031 {background:#cb1626}
.block_032 {background:#f63948}
.block_033 {background:#e1222a}
.block_034 {background:#f5bfd7}
.block_035 {background:#e397d9}
.block_036 {background:#e5d2f0}
.block_037 {background:#ad7fc8}
.block_038 {background:#bc86ca}
.block_039 {background:#bb8cc8}
.block_040 {background:#7439ae}
.block_041 {background:#572481}
.block_042 {background:#e05ba2}
.block_043 {background:#e956ab}
.block_044 {background:#ff86c6}
.block_045 {background:#f7aeb5}
.block_046 {background:#f7bed1}
.block_047 {background:#f9b8d4}
.block_048 {background:#c8fbf6}
.block_049 {background:#7fd1d6}
.block_050 {background:#81d0db}
.block_051 {background:#83c8de}
.block_052 {background:#70b1e1}
.block_053 {background:#5cbfe8}
.block_054 {background:#33aae1}
.block_055 {background:#1481dc}
.block_056 {background:#2e53bd}
.block_057 {background:#4b6ab4}
.block_058 {background:#1f258e}
.block_059 {background:#2b275d}
.block_060 {background:#2272a7}
.block_061 {background:#8ed3bb}
.block_062 {background:#bfdc80}
.block_063 {background:#48ee80}
.block_064 {background:#a1d054}
.block_065 {background:#d5e063}
.block_066 {background:#58b074}
.block_067 {background:#818378}
.block_068 {background:#8a7768}
.block_069 {background:#555b2e}
.block_070 {background:#3ca776}
.block_071 {background:#458063}
.block_072 {background:#26647b}
.block_073 {background:#b1a8a9}
.block_074 {background:#afa6af}
.block_075 {background:#7c6d77}
.block_076 {background:#52404c}
.block_077 {background:#9b5c54}
.block_078 {background:#5d2127}
.block_079 {background:#7c2d22}
.block_080 {background:#852d29}
.block_081 {background:#7b2b2b}
.block_082 {background:#fdfff1}
.block_083 {background:#f3ecf8}
.block_084 {background:#fdf9fd}
.block_085 {background:#23091b}
.block_086 {background:#c75e17}
.block_088 {background:#1b0415}
.block_089 {background:#141641}
.block_090 {background:#220764}
.block_092 {background:#fd6102}
.block_093 {background:#e4e875}
.block_094 {background:#e93f8e}
.block_095 {background:#ef2d19}
.block_096 {background:#fc6d90}
.block_097 {background:#bc2996}
.block_098 {background:#bc2996}
.block_099 {background:#08437e}
.block_100 {background:#205fab}
.block_101 {background:#0297d2}
.block_102 {background:#5b3737}
.block_103 {background:#236560}
.block_104 {background:#1ce784}
.block_106 {background:#63da90}
.block_107 {background:#773116}
.block_121 {background:#cec3c0}
.block_122 {background:#b3a8a7}
.block_123 {background:#3c2536}
.block_124 {background:#d57952}
.block_125 {background:#df5121}
.block_126 {background:#cc4d36}
.block_127 {background:#f77376}
.block_128 {background:#f85646}
.block_129 {background:#85131a}
.block_130 {background:#a91632}
.block_131 {background:#6e4122}
.block_132 {background:#413c37}
.block_133 {background:#323084}
.block_134 {background:#3f2b3b}
.block_135 {background:#936e61}
.block_136 {background:#864236}
.block_137 {background:#e59676}
.block_138 {background:#db8f3e}
.block_139 {background:#d31a65}
.block_140 {background:#e3838f}
.block_141 {background:#aeaa8d}
.block_142 {background:#c7bba2}
.block_143 {background:#958a5a}
.block_144 {background:#b96644}
.mark_00000 {background:#ebede1}
.mark_00001 {background:#360b10}
.mark_00002 {background:#6f0d1e}
.mark_00003 {background:#700817}
.mark_00004 {background:#ba1c33}
.mark_00005 {background:#c03b55}
.mark_00006 {background:#d473b2}
.mark_00007 {background:#f6b2b5}
.mark_00008 {background:#fab7b3}
.mark_00009 {background:#fcc9c9}
.mark_00010 {background:#c92239}
.mark_00011 {background:#e0344e}
.mark_00012 {background:#bf1f3a}
.mark_00013 {background:#d53148}
.mark_00014 {background:#f75f4d}
.mark_00015 {background:#ac002e}
.mark_00016 {background:#dc2739}
.mark_00017 {background:#f0afc5}
.mark_00018 {background:#f7c3ce}
.mark_00021 {background:#bc6f27}
.mark_00022 {background:#fe6947}
.mark_00023 {background:#f67a2e}
.mark_00024 {background:#febd66}
.mark_00025 {background:#f8d1b6}
.mark_00026 {background:#feceaa}
.mark_00027 {background:#f9d7c7}
.mark_00028 {background:#fddcd1}
.mark_00029 {background:#fdd7c9}
.mark_00031 {background:#ad7729}
.mark_00032 {background:#f9d060}
.mark_00033 {background:#f8c754}
.mark_00034 {background:#fec34f}
.mark_00035 {background:#fbe256}
.mark_00036 {background:#eacb8b}
.mark_00037 {background:#f6e557}
.mark_00038 {background:#fced7d}
.mark_00041 {background:#87710b}
.mark_00042 {background:#775f18}
.mark_00043 {background:#586a25}
.mark_00044 {background:#eada15}
.mark_00045 {background:#f9de77}
.mark_00046 {background:#4abb5a}
.mark_00047 {background:#375210}
.mark_00048 {background:#c2bb5a}
.mark_00049 {background:#e9e494}
.mark_00050 {background:#092b22}
.mark_00051 {background:#054331}
.mark_00052 {background:#0e4d26}
.mark_00053 {background:#006859}
.mark_00054 {background:#00734c}
.mark_00055 {background:#12a377}
.mark_00056 {background:#335717}
.mark_00057 {background:#0e736c}
.mark_00058 {background:#53d9b9}
.mark_00059 {background:#b6d381}
.mark_00061 {background:#0a7e70}
.mark_00062 {background:#013553}
.mark_00063 {background:#0e809a}
.mark_00064 {background:#1e8acb}
.mark_00065 {background:#83cef7}
.mark_00066 {background:#80cefa}
.mark_00067 {background:#a1daf8}
.mark_00068 {background:#5ec5e4}
.mark_00069 {background:#0c3468}
.mark_00070 {background:#3a6890}
.mark_00071 {background:#041562}
.mark_00072 {background:#0c1a71}
.mark_00073 {background:#21156d}
.mark_00074 {background:#124194}
.mark_00075 {background:#ada4de}
.mark_00076 {background:#61b1f3}
.mark_00077 {background:#c1acde}
.mark_00081 {background:#3a1a6f}
.mark_00082 {background:#562c95}
.mark_00083 {background:#a998d4}
.mark_00084 {background:#b31f80}
.mark_00085 {background:#923384}
.mark_00086 {background:#d532ab}
.mark_00087 {background:#8d1f8f}
.mark_00088 {background:#e6427b}
.mark_00089 {background:#d78fc2}
.mark_00091 {background:#84310c}
.mark_00092 {background:#3c1d17}
.mark_00093 {background:#6a2b17}
.mark_00094 {background:#6f280c}
.mark_00095 {background:#8e5327}
.mark_00096 {background:#885f34}
.mark_00097 {background:#965f3b}
.mark_00098 {background:#33150d}
.mark_00099 {background:#3a1f11}
.mark_00100 {background:#8f6920}
.mark_00101 {background:#e0a877}
.mark_00102 {background:#875a21}
.mark_00103 {background:#df9b58}
.mark_00104 {background:#e1c893}
.mark_00107 {background:#e7ba8c}
.mark_00109 {background:#f6f2c2}
.mark_00120 {background:#000000}
.mark_00121 {background:#fe3679}
.mark_00122 {background:#fd6935}
.mark_00123 {background:#d4fa56}
.mark_00124 {background:#abba24}
.mark_00125 {background:#ce0787}
.mark_00126 {background:#c6509c}
.mark_00131 {background:#f2dbd3}
.mark_00132 {background:#e2ba8c}
.mark_00133 {background:#f0c9ab}
.mark_00134 {background:#eee3b5}
.mark_00135 {background:#f6c9c9}
.mark_00136 {background:#fde2e4}
.mark_00137 {background:#eebebe}
.mark_00138 {background:#ebc2de}
.mark_00139 {background:#f0b3ad}
.mark_00140 {background:#e99371}
.mark_00141 {background:#e9caa5}
.mark_00142 {background:#f1c585}
.mark_00143 {background:#a7e0ef}
.mark_00144 {background:#a9d3f9}
.mark_00145 {background:#9298ca}
.mark_00146 {background:#e4bee8}
.mark_00147 {background:#dab7e9}
.mark_00163 {background:#f7ea9d}
.mark_00164 {background:#fdeb9e}
.mark_00166 {background:#cfd99d}
.mark_00167 {background:#bdda8c}
.mark_00169 {background:#d8bd6c}
.mark_00171 {background:#c9ecd3}
.mark_00172 {background:#76bf99}
.mark_00173 {background:#d0d7af}
.mark_00174 {background:#c0d698}
.mark_00175 {background:#acc98a}
.mark_00178 {background:#e0dcf4}
.mark_00179 {background:#9dd0cc}
.mark_00182 {background:#cee4f5}
.mark_00183 {background:#8ec8f9}
.mark_00185 {background:#addaf9}
.mark_00196 {background:#efcae1}
.mark_00198 {background:#ee9cba}
.mark_00BG1 {background:#b6d5e2}
.mark_00BG3 {background:#b4cbd4}
.mark_00BG5 {background:#8ea5b3}
.mark_00BG7 {background:#4a6478}
.mark_00BG9 {background:#3a5567}
.mark_0CG05 {background:#dadddc}
.mark_00CG1 {background:#ceced0}
.mark_00CG2 {background:#c7c7c5}
.mark_00CG3 {background:#b3b3b5}
.mark_00CG4 {background:#898b8b}
.mark_00CG5 {background:#635f5c}
.mark_00CG6 {background:#4d4c4f}
.mark_00CG7 {background:#3e3e3e}
.mark_00CG8 {background:#2e3130}
.mark_00CG9 {background:#2a2a2c}
.mark_00GG1 {background:#c6d4d1}
.mark_00GG3 {background:#888f96}
.mark_00GG5 {background:#6b7377}
.mark_00GG7 {background:#1a242a}
.mark_00GG9 {background:#262e34}
.mark_0WG05 {background:#d3d3d3}
.mark_00WG1 {background:#c5c5c3}
.mark_00WG2 {background:#bdb6af}
.mark_00WG3 {background:#a6a4a0}
.mark_00WG4 {background:#8e887e}
.mark_00WG5 {background:#7a7671}
.mark_00WG6 {background:#6d665a}
.mark_00WG7 {background:#696257}
.mark_00WG8 {background:#555044}
.mark_00WG9 {background:#1b1b19}
.mark_00367 {background:#e5b68e}
.mark_00369 {background:#e1b9ac}
.mark_00370 {background:#e2b4a1}
.mark_00371 {background:#e59c77}
.mark_00413 {background:#e2c7b5}
.mark_00415 {background:#e1b583}
.mark_BK000 {background:#171513}
.mark_BK001 {background:#e9d3a8}
.mark_BK003 {background:#cdc4a8}
.mark_BK005 {background:#e7ce7a}
.mark_BK010 {background:#d8c29a}
.mark_BK011 {background:#d6be95}
.mark_BK013 {background:#bdaa7f}
.mark_BK014 {background:#d4b376}
.mark_BK015 {background:#a9935e}
.mark_BK017 {background:#c4a267}
.mark_BK018 {background:#dbd0af}
.mark_BK024 {background:#dbb981}
.mark_BK025 {background:#d6b074}
.mark_BK026 {background:#d0ae81}
.mark_BK030 {background:#d4b590}
.mark_BK031 {background:#d4bb90}
.mark_BK032 {background:#c1ae8e}
.mark_BK033 {background:#c7ab9a}
.mark_BK034 {background:#e9b181}
.mark_BK036 {background:#ae957a}
.mark_BK037 {background:#d7d0c2}
.mark_BK039 {background:#d9b894}
.mark_BK040 {background:#d2ae81}
.mark_BK041 {background:#b1886c}
.mark_BK042 {background:#ca8547}
.mark_BK043 {background:#c6b19d}
.mark_BK044 {background:#c99e7d}
.mark_BK045 {background:#c79965}
.mark_BK046 {background:#965434}
.mark_BK048 {background:#574029}
.mark_BK050 {background:#ded1b0}
.mark_BK052 {background:#c2baae}
.mark_BK053 {background:#d6b9b7}
.mark_BK070 {background:#d5bbbd}
.mark_BK071 {background:#ba9ba5}
.mark_BK151 {background:#ecd583}